<mat-toolbar>
    <mat-toolbar-row class="icons">
      <div class="contact-info">
        <span class="small-font">+92 3067932347</span>
        <span class="small-font">shafqat333khan@gmail.com</span>
        <span class="small-font">+92 3067932347</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" >
        <button mat-mini-fab class="nav-icon">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-mini-fab class="nav-icon">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-mini-fab class="nav-icon">
          <mat-icon>linkdin</mat-icon>
        </button>
        <button mat-mini-fab class="nav-icon">
          <mat-icon>wifi</mat-icon>
        </button>
        <button mat-mini-fab class="nav-icon">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <img src="/assets/uet-logo.png" alt="uet-logo" class="logo">
        <img src="/assets/department-logo.png" alt="department-logo" class="logo">
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  


<!-- <mat-toolbar>
    <mat-toolbar-row class="icons">
        <div class="contact-info" fxHide fxShow.gt-sm>
            <span class="small-font">+92 3067932347</span>
            <span class="small-font">shafqat333khan@gmail.com</span>
            <span class="small-font">+92 3067932347</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxHide fxShow.gt-sm>
            <button mat-mini-fab class="nav-icon">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-mini-fab class="nav-icon">
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-mini-fab class="nav-icon">
                <mat-icon>linkdin</mat-icon>
            </button>
            <button mat-mini-fab class="nav-icon">
                <mat-icon>wifi</mat-icon>
            </button>
            <button mat-mini-fab class="nav-icon">
                <mat-icon>facebook</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <img src="/assets/uet-logo.png" alt="uet-logo" class="logo">
        <img src="/assets/department-logo.png" alt="department-logo" class="logo">
    </mat-toolbar-row>
</mat-toolbar> -->


<!-- <textarea rows="6" [(ngModel)]="enteredValue"></textarea>
<hr>
<button (click)="onAddText()">show</button>
<p>{{ defaultText }}</p> -->