.mat-toolbar-row:first-child {
    height: 40px;
    background-color: #35244d;
}

.mat-toolbar-row:nth-child(2) {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-evenly;
    padding: 0 255px;
}

  

.small-font {
    font-size: 12px;
    color: white;
    margin-right: 20px;
  }



  .logo {
    width: 70px; 
    height: 70px;
  }

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button.nav-icon {
    background-color: #35244d;
    border-radius: 0px;
    box-shadow: none;
}

button.nav-icon mat-icon {
    color: white;
}

button.nav-icon:hover mat-icon {
    color: #35244d;
}

button.nav-icon:hover {
    background-color: white;
}

.submenu {
    position: absolute;
    width: auto;
    background-color: lightgray;
    margin-top: 25px;
    opacity: 0;
    z-index: -999;
    transition: all ease-in 0.5s;
}
span:hover .submenu {
    z-index: 99;
    opacity: 1;
}
.submenu span {
    display: block;
    padding: 0 20px;
    border: 1px solid white;
}

.submenu span:hover {
    background-color: #35244d;
    color: white;
}

.menu-items:hover {
    color: #472774;
}
